body {
    font-family: 'Courier New';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
}

#game-container {
    text-align: center;
    background: #1e1e1e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    width: 80%;
    max-width: 600px;
}

h1 {
    font-family: 'Georgia', cursive;
    color: #2fa12ff5;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #04bb32;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Tahoma';
}

button:hover {
    background-color: #00cc00;
}

input[type="text"] {
    padding: 10px;
    width: 50px;
    text-align: center;
    margin: 10px 0;
    background: #333;
    border: 1px solid #444;
    color: white;
    border-radius: 5px;
}

#message {
    color: #00ff00;
    font-weight: bold;
    margin-top: 20px;
}

#word-display {
    font-size: 24px;
    letter-spacing: 2px;
}

#used-letters {
    margin-top: 20px;
    color: #ff0000;
    font-weight: bold;
}

#total-points {
    color: #00ff00;
}

/* Add this to your styles.css file */
#welcome-screen {
    text-align: center;
    margin-top: 20%;
}

#username-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

